
*.json
*.sqlite
*.config
*.suo
*.db
*.idb
*.pdb
*.exe
*.recipe
*.ilk
*.obj
*.tlog
XplCLI/Debug/XplCLI.vcxproj.FileListAbsolute.txt
*.ipch
*.opendb
*.db-wal
*.db-shm
*.csv
*.log
XplCLI/x64/Debug/XplCLI.vcxproj.FileListAbsolute.txt
*.sln
*.vcxproj
*.filters
*.user
*.vsidx
*.lock
*.enc
*.txt
